{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link href="{{ asset('css/table.css') }}" rel="stylesheet">
 {% endblock %}
{% block body %}
    <br>
   <h1 align="center"> Review List to {{ productName }} </h1>
    <br>
    <br>
    <br>
    {% for review in reviews  %}
    <div class="review">
        <p>Rating: {{ review.rating }}</p>
        <p>Content: {{ review.content }}</p>
    </div>
    {% endfor %}
<br>
{% endblock %}
